@media screen{
	.left{
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	font-size: 18px;
	line-height: 19px;
	font-weight: 600;
}

.steps{
	font-weight: bolder;
}
.navbar-brand{
    padding-left: 38px;
}
.nav-item{
    padding-left: 154px;
}
.container ul li{
	list-style-type: none;

}
.container ul li a{
	color: white;
	
}
.container ul li a:hover{
	color: #848588;

}
#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
  }


}
@media print{
	.left{
		font-size: 17px;
		line-height: 15px;
	}

.steps{
	font-weight: bolder;
}
}